body {
  font-family:Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #65273B;
  border : 5px solid #65273B;


}

.login-form,
.register-form {
  background-color: #84B3F6;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

h2 {
  margin-top: 0;

}

input[type="text"],
input[type="password"],
input[type="email"],
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #65273B;
}

.regist
{background-color: #007bff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убрать границу */
    padding: 10px 20px; /* Отступы */
    border-radius: 5px; /* Скругление углов */}


.profile-ava {
         width: 130px;
         text-align: center;
         overflow: hidden;
         background: #eee;
         padding: 10px;
}

.profile-ava img {max-width: 150px; height: auto;}

.profile-load {
         margin-top: 10px;
         overflow: hidden;
         max-width: 150px;
}
.profile-load input[type=submit], input[type=file] {
         width: 100%;
         font-size: 18px;
}
.profile-load p {
         padding: 0;
         margin: 5px 0 0 0;
}

.profile-panel {padding: 0 0 0 10px;}
ul.profile-info {
         list-style: none;
         margin: 10px 0 0 0;
         padding: 0;
         color: #7E652F;
}
ul.profile-info li {margin-top: 10px;}