.regist
{background-color: transparent;
    border-radius: 5px;
    color: #000; /* Цвет текста */
    border: none;
    padding: 10px 20px; /* Отступы */
    transition: background-color: 0.3s ease;}

.regist:hover {
 background-color: #B2A14E;
 color #000;}


 .login
{background-color: transparent;
    border-radius: 5px;
    color: #000; /* Цвет текста */
    border: none;
    padding: 10px 20px; /* Отступы */
    transition: background-color: 0.3s ease;}

.login:hover {
 background-color: #833ead;
 color #000;}
