{% extends 'base.html' %}

{% block title %}
<title>Добро пожаловать в Auto Hub!</title>
{% endblock %}

{% block body%}
<div class="container">
    <h1>Добро пожаловать в Auto Hub</h1>
    <p>Мы являемся ведущими специалистами в сфере продажи автомобилей, предлагая широкий выбор высококачественных
        автомобилей по доступным ценам. Наша компания сочетает в себе многолетний опыт и профессионализм, чтобы
        обеспечить наших клиентов наилучшим сервисом и удовлетворить их потребности в приобретении автомобиля мечты.</p>
    <h2>Чем мы занимаемся:</h2>
    <p><b>Продажа новых автомобилей</b> Мы предлагаем широкий ассортимент новых автомобилей от ведущих мировых
        производителей. Независимо от ваших предпочтений, у нас есть автомобиль, который подходит именно вам.</p>
    <p><b>Продажа подержанных автомобилей:</b>Наши подержанные автомобили проходят строгую проверку качества, чтобы
        гарантировать надежность и безопасность. Мы предлагаем разнообразие моделей, чтобы каждый клиент мог найти
        автомобиль, соответствующий его потребностям и бюджету.</p>
    <p><b>Трейд-ин и обмен:</b> Мы также предлагаем услуги по обмену и трейд-ину вашего текущего автомобиля на новый.
        Наша команда поможет вам получить лучшую цену за ваш автомобиль и выбрать новый автомобиль, который удовлетворит
        ваши потребности.</p>
    <h2>Почему выбирают нас:</h2>
    <p><b>Профессионализм и опыт:</b>Наша команда состоит из опытных специалистов, готовых помочь вам в каждом шаге при
        выборе автомобиля</p>
    <p><b>Превосходное обслуживание клиентов:</b> У нас высокий уровень обслуживания клиентов. Мы стремимся к 100%
        удовлетворенности клиентов и гарантируем вам полное внимание и заботу с момента покупки до послепродажного
        обслуживания.</p>
    <p><b>ППрозрачность и честность:</b>Мы ценим доверие наших клиентов и работаем с прозрачными ценами и условиями
        продажи. У нас нет скрытых платежей или неприятных сюрпризов</p>
    <p><b>Auto hub</b> - это ваш надежный партнер в мире автомобилей. Обращайтесь к нам сегодня и дайте нам возможность помочь
        вам найти ваш идеальный автомобиль</p>

</div>
{% endblock %}


