<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="login-container">
    <div class="login-form">
        <h2>Вход</h2>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}">{{msg}}</div>
        {% endfor %}
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Имя пользователя" required>
            <input type="text" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <p>Запомнить меня:<input type="checkbox" name="remainme" placeholder="Запомнить меня"></p>
            <button type="submit">Войти</button>
            <p><a href="{{ url_for('register') }}">Регистрация</a>

        </form>
    </div>
</div>

</body>
</html>
